{% extends "master.html" %}

{% block title %}
Mapas
{% endblock %}

{% block description %}
Conquiste o mundo, a sua cidade ou o cenário do seu filme favorito.
{% endblock %}

{% block content %}
	<table class='table table-striped span8 offset2'>
		<thead>
			<tr>
				<th>Nome</th>
				<th class='span1'>Jogadores</th>
				<th class='span2'>Criador</th>
				<th class='span1'></th>
			</tr>
		</thead>
		<tbody>
		{% for board in boards %}
			<tr>
				<td>{{ board['name'] }}</td>
				<td>{{ board['min_players'] }} a {{ board['max_players'] }}</td>
				<td>{{ board.get('creator', 'Desconhecido') }}</td>
				<td><a href='{{ reverse_url('board', board['id']) }}'>Detalhes</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
