{% extends "master.html" %}

{% macro form_field(id, label, help='') %}
	<div class='control-group'>
		<label class='control-label' for='{{ id }}'>{{ label }}</label>
		<div class='controls'>
			{{ caller() }}
			<p class='help-block'>{{ help }}</p>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<form action='{{ reverse_url('games') }}' method='POST' class='form-horizontal well span6 offset2'>
		<fieldset>
			<legend>Criar novo jogo</legend>
			{% call form_field('name', 'Nome do jogo') %} {# validação instantânea? #}
				<input id='name' class='input-xlarge' type='text' />
			{% endcall %}
			{% call form_field('password', 'Senha do jogo') %}
				<input id='password' class='input-xlarge' type='password' />
			{% endcall %}
			{% call form_field('player_objectives', 'Objetivos individuais?') %}
				<label type='checkbox'>
					<input id='player_objectives' type='checkbox' />
					Se não for habilitado, todos os jogadores terão o objetivo "conquistar o mundo".
				</label>
			{% endcall %}
			{% call form_field('global_trade', 'Contagem global de trocas?') %}
				<label type='checkbox'>
					<input id='global_trade' type='checkbox' />
					Define se o número de exércitos disponíveis por troca é contado globalmente ou por jogador.
				</label>
			{% endcall %}
			<div class='form-actions'>
				<button class='btn btn-primary'>Salvar jogo</button>
			</div>
		</fieldset>
	</form>
{% endblock %}
