<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Project Risco</title>
		<meta name="description" content="Jogo online de tabuleiro; recrute exércitos e conquiste o mundo!">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
		<style>
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link rel="stylesheet" href="{{ static_url('css/bootstrap-responsive.min.css') }}">
		<link rel="stylesheet" href="{{ static_url('css/main.css') }}">

		<script src="{{ static_url('js/vendor/modernizr-2.6.1-respond-1.1.0.min.js') }}"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{# {{ reverse_url('index') }} #}"> Project Risco</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="{{ reverse_url('game-create') }}">Criar jogo</a></li>
							<li><a href="{{ reverse_url('games') }}">Jogos</a></li>
							<li><a href="{{ reverse_url('boards') }}">Mapas</a></li>
						</ul>
						<ul class="nav pull-right">
							{% if current_user %}
							<li class="dropdown"><a href="#">{{ current_user['email'] }} <b class="caret"></b></a></li>
							<li><a href="{{ reverse_url('logout') }}">Logout</a></li>
							{% else %}
							<li class="dropdown pull-right">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="nav-header">Login via...</li>
									<li><a href="{{ reverse_url('google') }}">Google</a></li>
									{#
									<li class="divider"></li>
									<form class="">
										<li><input type="text" placeholder="Email"></li>
										<li><input type="password" placeholder="Senha"></li>
										<li><button type="submit" class="btn">Entrar</button></li>
									</form>
									#}
								</ul>
							</li>
							{% endif %}
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">
			<header class='jumbotron subhead'>
				{% if breadcrumbs %}
				<ul class='breadcrumb'>
					{% for title, url in breadcrumbs %}
					{% if loop.last %}
					<li class='active'>
						{{ title }}
					</li>
					{% else %}
					<li>
						<a href='{{ url }}'>{{ title }}</a>
						<span class="divider">&rarr;</span>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
				{% endif %}
				<h1>{% block title %}{% endblock %}</h1>
				<p class='lead'>{% block description %}{% endblock %}</p>
			</header>
			{% block content %}{% endblock %}
			{#
			<hr>
			<footer>
				<p>blá</p>
			</footer>
			#}
		</div> <!-- /container -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ static_url('js/vendor/jquery-1.8.1.min.js') }}"><\/script>')</script>

		<script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>

		<script src="{{ static_url('js/main.js') }}"></script>

		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
